<h3>Task for today</h3>
<div *ngFor="let taskItem of taskList" class="task-box">
    <div class="task-item task-item-checkbox">
        <input type="checkbox" [checked] = "taskItem.isCompleted" />
    </div>
    <div class="task-item task-item-title">
        {{taskItem.title}}
    </div>
</div>