<div class="container" 
    [class.container-show]="showPopupWindow" 
    [class.container-hide]="!showPopupWindow">

    <div class="form">
        <div class="header" 
            contenteditable="true" 
            placeholder="Enter task list header..."
            [textContent]="taskList.Title" 
            (input)="taskList.Title=$event.target.textContent"></div>
        
        <div class="task-list">
            <div class="task-list-item">
                <input class="task-list-item-checkbox" 
                    type="checkbox" 
                    [(ngModel)]="taskList.Tasks[taskItemsCounter].IsCompleted"/>
                
                <div class="task-list-item-input" 
                    contenteditable="true" 
                    placeholder="Task item text..."
                    [textContent]="taskList.Tasks[taskItemsCounter].Title"
                    (input)="taskList.Tasks[taskItemsCounter].Title=$event.target.textContent"></div>
                
                <img class="task-list-item-delete" />
            </div>
        </div>
        
        <div class="footer">
            <input class="footer-submit" type="submit" value="Submit" (click)="submit()"/>
        </div>
    </div>
</div>