.container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #000000;
	
}

.container-show{
	opacity: 0.8;
	z-index: 1;
}

.container-hide{
	z-index: -1;
	display: none;
}

.form{
	width: 50%;
	height: 400px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	opacity: 1;
	border-radius: 2px;
	padding: 10px;
}

.header{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.header:empty::before{
	content: attr(placeholder);
}

.task-list{
	width: 100%;
	height: 70%;
}

.task-list-item{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	padding: 10px 5px;
}

.task-list-item-checkbox{
	width: 5%;
}

.task-list-item-input{
	width: 90%;
}

.task-list-item-input:empty::before{
	content: attr(placeholder);
}

.task-list-item-delete{
	content: url(https://cdn0.iconfinder.com/data/icons/cosmo-player/40/button_delete_1-128.png);
	width: 3%;
	height: 3%;
}