<div class="user-box">
    <img class="user-box-item user-box-item-img" [src]="userIcon" />
    <div class="user-box-item user-box-item-title"><a href="#">{{fullName}}</a></div>
</div>
<!--<div class="user-options">
    <a class="user-option" href="#">Sign out</a>
    <a class="user-option" href="#">Settings</a>
</div>-->