a {
  color: inherit;
  text-decoration: inherit;
}

.user-box{
    display: flex;
    flex-direction: row-reverse;
}

.user-box-item-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.user-box-item-title{
    align-self: center;
    padding: 0px 10px 0px 10px;
}