<div class="header">
    <div class="header-title"><a href="#">Task Tracker</a></div>
    <search class="header-search"></search>
    <user class="header-user"></user>
</div>
<div class="main">
    <div class="task-bar task-bar-1">Task bar 1</div>
    <div class="task-bar task-bar-2">Task bar 2</div>
    <div class="task-bar task-bar-3">Task bar 3</div>
    <div class="task-bar task-bar-4">Task bar 4</div>
    <div class="task-bar task-bar-5">Task bar 5</div>
    <div class="task-bar task-bar-6">Task bar 6</div>
    <div class="task-bar task-bar-7">Task bar 7</div>
    <div class="task-bar task-bar-8">Task bar 8</div>
    <div class="task-bar task-bar-9">Task bar 9</div>
    <div class="task-bar task-bar-10">Task bar 10</div>
    <div class="task-bar task-bar-11">Task bar 11</div>
    <div class="task-bar task-bar-12">Task bar 12</div>
</div>

<a href="#" class="add-new-task-bar-icon">
    <span class="add-new-task-bar">+</span>
</a>

<new-task-form></new-task-form>