.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #5f5f5f;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}

.header-title{
    font-size: 30px;
    margin: 10px 10px 10px 10%;
    width: 30%;
}

.header-search{
    width: 40%;
    margin: 12px 10px 12px 10px;
    height: 26px;
}

.header-user{
    margin: 5px 10% 5px 10px;
    width: 30%;
}

.main{
    margin: 70px auto 50px auto;
    display: flex;
    width: 84%;
    flex-direction: row;
    flex-wrap: wrap;
}

.task-bar{
    margin: 1.5%;
    color: #5f5f5f;
    text-align: center;
    background: #ffffff;
    width: 22%;
    height: 250px;
    box-shadow: 0 0 10px 5px #dddddd;
}

.add-new-task-bar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 54px;
    height: 54px;
    background: #0f9d58;
    font-size: 48px;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
}

.add-new-task-bar:hover{
    background: #35ac72;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);

}

.add-new-task-bar-icon{
    color: #ffffff;
}